.textYellow {
    color: #ffffb9;
}

.textAD {
    color: rgb(189, 125, 76);
}

.textAS {
    color: rgb(255, 203, 90)
}

th {
 border: solid 1px;   
}

tr ~ tr th {
    color: rgb(189, 125, 76);
    border: 1px solid white;
}

.iconContainer {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 50%;
}