.App {
  text-align: center;
}

html {
  /*background: linear-gradient(to right, #134f61, hsl(194, 16%, 53%), #134f61);*/
  /*background: rgb(33, 24, 10);*/
  background: hsl(193, 86%, 10%);
  color: white;
}

@font-face {
  font-family: Halifax;
  src: url('fonts/Halifax/OTF/Halifax-Regular.otf') format('opentype'),
       url('fonts/Halifax/TTF/Halifax-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Halifax;
  src: url('fonts/Halifax/OTF/Halifax-Bold.otf') format('opentype'),
       url('fonts/Halifax/TTF/Halifax-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Halifax;
  src: url('fonts/Halifax/OTF/Halifax-Thin.otf') format('opentype'),
       url('fonts/Halifax/TTF/Halifax-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

span, b, h2 {
  font-family: Halifax, "Fira Sans", Arial, Helvetica, sans-serif;
}

#homeAbout {
  cursor: pointer;
}

div[id$=Applied] button {
  visibility: hidden;
}

.abilityTitleBox input {
  margin-top: 5px;
}

.abilityTitleBox u {
  color: #ffffb9;
  text-decoration-color: white;
}

.abilityTitleBox u:before {
  content: "\00a0"
}

.abilityTitleBox u:after {
  content: "\00a0"
}

.abilityBoxLeft u, .abilityBoxRight u {
  color: #f9b54a
}

.abilityBoxLeft b, .abilityBoxRight b {
  color: #ffffb9
}

li {
  border: 1px solid;
  color: black;
}

li + li {
  border-top: none;
}

.liFocused {
  background-color: blue;
}

button {
 border-radius: 5px;
 /*border: 2px outset rgb(118, 118, 118);
 border-right-color: rgb(33, 33, 33);
 border-bottom-color: rgb(33, 33, 33);*/
 /*border: 1px solid rgb(118, 118, 118);
 border-right: 2px solid rgb(33, 33, 33);
 border-bottom: 2px solid rgb(33, 33, 33);*/
 box-shadow: 1px 1px #f9b54a;
}

#ksPathLeft, #ksPathRight {
  height: 26px;
  margin-top: auto;
  margin-bottom: auto;
}

#ksPathLeft img, #ksPathRight img {
  width: 20px;
  height: 20px;
  padding:3px;
  margin-left: 4px;
  cursor: pointer;
}

.center {
  display: block;
  margin: auto;
  width: 400px;
}

.logoDiv {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.flexDisplay {
  display: flex;
  justify-content: space-between;
}

.flexAround {
  display: flex;
  justify-content: space-around;
}

.yellow {
  color: #ffffb9
}

.statsBox {
  width: 45vw;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  box-shadow: 1px 0 3px rgb(177, 41, 238);
  /*background:linear-gradient(rgba(33, 33, 33, 1), rgba(118, 118, 118, 0.8));*/
  background: linear-gradient(#003747, #134f61);
  border-image-slice: 27 27 53 50;
  border-image-width: 5px 5px 4.7px 4.5px;
  border-image-outset: 2px 2px 2px 2px;
  border-image-repeat: stretch stretch;
  border-image-source: url("./images/border-image-1.png");
  border-image-width: 5px;
}

.statsBox span {
  color: #ffffb9
}

.statsBox img {
  vertical-align: middle;
  padding-bottom: 5px;
  height: 25px;
  width: 25px;
}

.transformLeft, .transformRight {
  visibility: hidden;
}

#transform {
  display: none;
}

#ksLeft u, #ksRight u {
  text-decoration-color: #ffffb9;
}

#ksLeft > div, #ksRight > div {
  margin-right: 32px;
}

#ksContainerLeft img, #ksContainerRight img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.keystone {
  flex-direction: row;
  margin-top: 5px;
}

.keystone img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.precision:hover{
	box-shadow: 0px 0px 5px rgb(255, 225, 82) inset;
}

.domination:hover{
  box-shadow: 0px 0px 5px rgb(245, 12, 63) inset;
}

.sorcery:hover{
  box-shadow: 0px 0px 5px rgb(177, 41, 238) inset;
}

.resolve:hover{
  box-shadow: 0px 0px 5px rgb(90, 227, 30) inset;
}

.inspiration:hover{
  box-shadow: 0px 0px 5px rgb(63, 204, 234) inset;
}

.keystone div {
  display: flex; 
  justify-content: space-around;
}

.ksStats {
  /*width: calc(45vw - 150px);*/
  width: calc(45vw - 2em);
  box-shadow: 0 0 5px rgb(177, 41, 238);
  padding: 1em;
  background: linear-gradient(#003747, rgb(19, 79, 97));
  border-radius: 6px;
  display: inline-block;
  border-image-slice: 27 27 53 50;
  border-image-width: 5px 5px 4.7px 4.5px;
  border-image-outset: 2px 2px 2px 2px;
  border-image-repeat: stretch stretch;
  border-image-source: url("./images/border-image-1.png");
  border-image-width: 5px;
}

.ksStats img {
  vertical-align: text-top;
  height: 25px;
  width: 25px;
}

span + img {
  padding-bottom: 3px;
}

.runeBox {
  width: 99px;
  height:  95px;
  text-align: center;
  border: 1px solid #ffffff;
  border-right: 0;
  border-top: 0;
}

@media screen and (max-width: 800px) {
  .runeBox {
    display: block;
    margin:auto;
  }
  .ksStats {
    width: 40vw;
  }
}

/*@media screen and (min-width: 801px) {
  .inventory > br {
    display: none;
  }
}*/

.runeImgStyle {
  height: 25px;
  width: 25px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.runeImgStyle:hover{
	box-shadow: 0px 0px 5px #ffcb5a inset;
}

.inventory {
  text-align: center;
  
  position: relative;
}

.inventory > img {
  width: 40px;
  height: 40px;
  border: 3px double white;
  margin-left: 5px;
}

#itemsLeft, #itemsRight {
  width: 45vw;
  text-align: center;
}

.itemDisplay {
  background: linear-gradient(#003747, #134f61);
  height: 157px;
  overflow-y: auto;
  text-align: left;
  /*padding-top: 4px;
  padding-left: 2em;
  padding-right: 8px;*/
  border-radius: 4px;
  border-image-slice: 27 27 53 50;
  border-image-width: 5px 5px 4.7px 4.5px;
  border-image-outset: 2px 2px 2px 2px;
  border-image-repeat: stretch stretch;
  border-image-source: url(./images/border-image-1.png);
  border-image-width: 5px;
  box-shadow: 0px 0px 5px rgb(177, 41, 238);
  scrollbar-color: #fdfdfd hsl(194, 100%, 3%);
}

.itemIcon {
  height: 40px;
  width: 40px;
  margin: 2px 3px 0px 3px;
  cursor: pointer;
}

.itemMenu input {
  width: 12em;
  height: 23px;
}

.itemTooltip {
  position: absolute;
  background: rgb(33, 33, 33);
  opacity: 1;
  display: none;
  width: 400px;
  max-height: 500px;
  border: 1px solid #ffffb9;
  padding: 5px;
  z-index: 100;
}

.itemTooltip:hover {
  display: block;
}

.itt:hover > .itemTooltip {
  display: block;
}

.iTTLeft {
  left: 20px
}

.iTTRight {
  right: 20px
}

.itemTooltip i {
  font-size: 14px;
}

.itemTooltip i+span {
  font-size: 12px;
}

.itemTooltip img:not([class*=small]) {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.smallIcon {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

#itemsLeft img:hover + .itemTooltip, #itemsRight img:hover + .itemTooltip {
  display: block;
}

.inventory img[style*='pointer']:hover + .itemTooltip {
  display: block;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #f9b54a 0%, #f9b54a 9%, rgba(0, 0, 0, 0.2) 10%,
   #f9b54a 15%, #f9b54a 85%, rgba(0, 0, 0, 0.2) 90%, #f9b54a 91%);
}

.abilityBoxLeft, .abilityBoxRight {
  width: 45vw;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 1px;
  background: linear-gradient(#003747, #134f61);
  color:white;
  box-shadow: 0px 0px 5px rgb(177, 41, 238);
  border-image-slice: 27 27 53 50;
  border-image-width: 5px 5px 4.7px 4.5px;
  border-image-outset: 2px 2px 2px 2px;
  border-image-repeat: stretch stretch;
  border-image-source: url(./images/border-image-1.png);
  border-image-width: 5px;
}

.abilityBoxLeft hr, .abilityBoxRight hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 185, 1), rgba(255, 255, 255, 0.3), rgba(255, 255, 185, 1));
}

.abilityBoxLeft b, .abilityBoxRight b {
  color: #ffffb9
}

.abilityBoxLeft p, .abilityBoxRight p {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #ffffb9;
}

.abilityBoxLeft img, .abilityBoxRight img {
  vertical-align: middle;
  height: 25px;
  width: 25px;
}

.abilityTitleBox {
  margin-top: 20px;
  margin-bottom: -15px;
  text-align: center;
}

.navHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  color: #003747;
  border-bottom: 1px solid #f9b54a;
  background-color: white;
  /*background: linear-gradient(155deg, #ffffb9 1%, #f9b54a 2%, white 3%, white 89%, #f9b54a 98%, #ffffb9 99%);*/
  background: linear-gradient(155deg, white 97%, #f9b54a 98%, #ffffb9 99%);
  margin: 0 -1vw;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  padding: 0 1rem;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 0 0 10px 0;
}

h1 {
  padding: 0 1rem;
  font-weight: 200;
  margin: 0;
}

.dropdownChamps {
    position: absolute;
    background-color: #f6f6f6;
   /* width: 150px; */
    border: 1px solid #ddd;
    z-index: 1;
}

.hiddenLeft {
  visibility: hidden;
}

.hiddenRight {
  visibility: hidden;
}

.spriteContainer {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
  border: 1px double #ffffb9;
  border-radius: 10px;
}

.passiveMargin {
  margin-left: -0px;
}

.qMargin {
  margin-left: -50px;
}

.wMargin {
  margin-left: -100px;
}

.eMargin {
  margin-left: -150px;
}

.rMargin {
  margin-left: -200px;
}

.textAD {
  color: rgb(189, 125, 76)
}

.textAP {
  color: rgb(156, 255, 247)
}

.textHP {
  color: rgb(32, 152, 93)
}