.App {
  text-align: center;
}

.center {
  display: block;
  margin: auto;
}

.flexDisplay {
  display: flex;
  justify-content: space-between;
}

.statsBox {
  width: 40vw;
  border-top: 5px solid grey;
  padding: 0px 1em;
  margin-top: 1px;
  background-color: lightblue;
  column-count: 4;
}

.abilityBox {
  width: 40vw;
  border-top: 5px solid grey;
  padding: 0px 1em;
  margin-top: 1px;
  background-color: lightblue;
}

.abilityBoxRight {
  width: 40vw;
  border-top: 5px solid grey;
  padding: 0px 1em;
  margin-top: 1px;
  background-color: lightblue;
}

.navHeader {
  max-height: 10vh;
  color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  box-shadow: inset 0px 3px 5px grey, 0px 3px 5px grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLeft {
  display: flex;
  justify-content: flex-start;
}

h2 {
  padding: 0 1rem;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}

.navRight {
  margin-left: auto; 
}

.Logo {
  padding-top: 10px;
}

.leftAlign {
  margin-right: 60vw;
}

.dropdownChamps {
    position: absolute;
    background-color: #f6f6f6;
   /* width: 150px; */
    border: 1px solid #ddd;
    z-index: 1;
}

.hidden {
  visibility: hidden;
}