.App {
  text-align: center;
}

html {
  background-color: #134f61;
  color: white;
}

#homeAbout {
  cursor: pointer;
}

.abilityTitleBox u {
  color: #ffffb9;
  text-decoration-color: lightgray;
}

.abilityBoxLeft u, .abilityBoxRight u {
  color: #f9b54a
}

.abilityBoxLeft b, .abilityBoxRight b {
  color: #ffffb9
}

li {
  border: 1px solid;
  color: black;
}

li + li {
  border-top: none;
}

.center {
  display: block;
  margin: auto;
  width: 400px;
}

.logoDiv {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.flexDisplay {
  display: flex;
  justify-content: space-between;
}

.flexAround {
  display: flex;
  justify-content: space-around;
}

.statsBox {
  text-align: center;
  width: 45vw;
  border: 1px solid #ffffb9;
  box-shadow: 3px 3px 3px #003747;
  padding: 0px 1em;
  margin-top: 1px;
  background-color:#003747;
  column-count: 4;
  color:white;
}

.statsBox span {
  color: #ffffb9
}

.statsBox img {
  vertical-align: middle;
  padding-bottom: 5px;
  height: 25px;
  width: 25px;
}

.transformLeft, .transformRight {
  visibility: hidden;
}

#transform {
  display: none;
}

#ksToggleLeft, #ksToggleRight, #ksLeft, #ksRight {
  visibility: hidden;
}

#ksLeft u, #ksRight u {
  text-decoration-color: #ffffb9;
}

.keystone {
  flex-direction: row;
  margin-top: 5px;
}

.keystone img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.precision:hover{
	box-shadow: 0px 0px 5px rgb(255, 225, 82) inset;
}

.domination:hover{
  box-shadow: 0px 0px 5px rgb(245, 12, 63) inset;
}

.sorcery:hover{
  box-shadow: 0px 0px 5px rgb(177, 41, 238) inset;
}

.resolve:hover{
  box-shadow: 0px 0px 5px rgb(90, 227, 30) inset;
}

.keystone hr {
  width: 2px;
  height: 32px;
  display: inline-block;
  margin: 0 5px;
}

.keystone div {
  display: flex; 
  justify-content: space-around;
}

.ksStats {
  width: 45vw;
  border: 2px solid #f9b54a;
  box-shadow: 3px 3px 3px #003747;
  padding: 0px 1em;
  background-color:#003747;
}

.ksStats span {
  color: #ffffb9;
}

.runeBox {
  width: 80px;
  height: 80px;
  /*border: 1px solid #ffffb9;*/
  box-shadow: 1px 1px 3px #ffffb9;
  background-color: #003747;
  align-self: center;
}

.runeBoxHR {
  margin: 0;
  color: #ffffb9;
}

.runeImgStyle {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.runeImgStyle:hover{
	box-shadow: 0px 0px 5px #ffcb5a inset;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 185, 1), rgba(0, 0, 0, 0.2), rgba(255, 255, 185, 1));
}

.abilityBoxLeft, .abilityBoxRight {
  width: 45vw;
  border: 2px solid black;
  box-shadow: 3px 3px 3px #003747;
  padding: 0px 1em;
  margin-top: 1px;
  background-color:#003747;
  color:white;
  border-image-slice: 27 27 53 50;
  border-image-width: 5px 5px 5px 4.5px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("./images/border-image-2.png"); 
}

.abilityBoxLeft hr, .abilityBoxRight hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 185, 1), rgba(255, 255, 255, 0.3), rgba(255, 255, 185, 1));
}

.abilityBoxLeft b, .abilityBoxRight b {
  color: #ffffb9
}

.abilityBoxLeft p, .abilityBoxRight p {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #ffffb9;
}

.abilityBoxLeft img, .abilityBoxRight img {
  vertical-align: middle;
  height: 25px;
  width: 25px;
}

.abilityTitleBox {
  margin-top: 20px;
  padding-left: 20vw;
}

.navHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  color: #003747;
  box-shadow: 0px 1px 3px #f9b54a;
  background-color: white;
  margin: 0 -1vw;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  padding: 0 1rem;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 0 0 10px 0;
}

h1 {
  padding: 0 1rem;
  font-weight: 200;
  margin: 0;
}

.leftAlign {
  margin-right: 60vw;
}

.dropdownChamps {
    position: absolute;
    background-color: #f6f6f6;
   /* width: 150px; */
    border: 1px solid #ddd;
    z-index: 1;
}

.hiddenLeft {
  visibility: hidden;
}

.hiddenRight {
  visibility: hidden;
}

.spriteContainer {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin-left: 5px;
  border: 1px double #ffffb9;
  border-radius: 10px;
}

.passiveMargin {
  margin-left: -0px;
}

.qMargin {
  margin-left: -50px;
}

.wMargin {
  margin-left: -100px;
}

.eMargin {
  margin-left: -150px;
}

.rMargin {
  margin-left: -200px;
}